#header-region {
  border-bottom: 1px solid #ccc;
}

.cart-icon:hover {
  color: #767676;
}

.filters {
  white-space: nowrap;
}

.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-loader {
  margin: auto;
  padding-top: 1em;
}